{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "htmlSelfClosingTags": false,
    "plugins": ["@prettier/plugin-handlebars"],
    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "parser": "glimmer",
                "printWidth": 120,
                "singleQuote": false,
                "htmlWhitespaceSensitivity": "ignore"
            }
        },
        {
            "files": "*.html",
            "options": {
                "printWidth": 120,
                "htmlWhitespaceSensitivity": "ignore",
                "htmlSelfClosingTags": false
            }
        }
    ]
}
